<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" 
         bootstrap="tests/resources/bootstrap.php"
         verbose="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnSkipped="true">
    <testsuites>
        <testsuite name="tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./components/</directory>
            
            <exclude>
                <!-- No need to unit test bundles and view plugins -->
                <directory suffix=".php">./components/bundles/</directory>
                <directory suffix=".php">./components/view/plugins/</directory>
                <directory suffix=".php">./components/app/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>